﻿@model IEnumerable<TT.Domain.Items.DTOs.ItemFormerPlayerDetail>
@using TT.Domain.Statics
@using TT.Web.CustomHtmlHelpers
@{
    ViewBag.Title = $"Item Leaderboard - {PvPStatics.AlphaRound}";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Leaderboard.PlayerStatsLeaders())">Round Achievement Leaders</a></li>
    <li><a href="@Url.Action(MVC.Leaderboard.PvPLeaderboard())">View Dungeon Leaderboard</a></li>
    <li><a href="@Url.Action(MVC.Leaderboard.Leaderboard())">View XP Leaderboard</a></li>
}

<div class="specialBox">
    <b>Item Leaderboard -- @PvPStatics.AlphaRound</b><br>
    These are the most powerful once-human items and pets in the town.  Some may be able to revert their old human forms but many have embraced their new existence as personal pets and belongings.  Treat them kindly should you come to posses them!
</div>

@if (PvPStatics.ChaosMode)
{
    <div class="specialBox specialBox2">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        During <a href="@Url.Action(MVC.Info.FAQ())#chaosMode">Chaos Mode</a> leaderboard rankings do not reflect the standings at the end of the round and are not saved.
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    </div>
}

<div class="containerInner">
    <table>

        <thead>
            <tr>
                <th style="width:15px">#</th>
                <th class="leaderBoardName">Human Name</th>
                <th class="leaderBoardForm mobile">Image</th>
                <th class="leaderBoardForm mobile">Item Type</th>
                <th>Lvl</th>
                <th>Exp</th>
            </tr>
        </thead>
        <tbody>

            @{
                var rank = 1;
            }

            @foreach (var i in Model)
            {
                <tr>
                    <td>
                        @rank
                    </td>
                    <td>
                        @HtmlHelpers.PrintPermanencyIcon(i.IsPermanent)
                        <a href="@Url.Action(MVC.PvP.LookAtPlayer(i.FormerPlayer.Id))">@i.FormerPlayer.FullName</a>
                        @HtmlHelpers.PrintGenderIcon(i.FormerPlayer.Gender)
                        @HtmlHelpers.PrintItemTypeIcon(i.ItemSource.ItemType)
                    </td>
                    <td><img src="@HtmlHelpers.GetImageUrl(i.ItemSource.PortraitUrl, i.FormerPlayer.Mobility, true)" width="50x" height="50px;"></td>
                    <td class="mobile">
                        @i.ItemSource.FriendlyName
                    </td>
                    <td>
                        @i.Level
                    </td>
                    <td>@($"{i.FormerPlayer?.ItemXP?.Amount ?? 0:n0}")</td>
                </tr>
                rank++;
            }
        </tbody>
    </table>
</div>
@section head
{
    <style>
        .leaderBoardName {
            width: auto;
        }

        .leaderBoardCovenant {
            width: 20%;
        }

        .leaderBoardForm {
            width: 30%;
        }

        table {
            padding: 3px;
            border: 1px solid black;
            width: 100%;
        }

        th {
            background-color: black;
            color: white;
            text-align: center;
            padding: 0px;
        }

        tr {
            padding: 3px;
            border: 1px solid black;
        }

            tr:nth-child(odd) {
                background-color: lightgray;
            }

        td {
            text-align: center;
            padding: 2px 0px 2px 0px;
        }

        .dark {
            background-color: #CCCCCC;
        }

        tr.dark:nth-child(odd) {
            background-color: #B8B8B8;
        }

        .mobile {
        }

        @@media screen and (max-width: 767px) {
            .mobile {
                display: none;
            }
        }
    </style>
}

@section scripts
{
    <script>
        var myName = "@ViewBag.MyId";
        if (myName !== "") {
            $("a[href$='" + myName + "']").closest('tr').css("background-color", "pink");
        }
    </script>
}
